.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.logo{
  max-width: 250px;
  max-height: 100%;
  object-fit: contain;
}

.container-padding{
  padding: 15px
}

.logo-adjustments{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
